
@{
    ViewData["Title"] = "Centers";
}

<h5 class="mt-0 text-center fw-bold fs-1 mb-6" style="padding-top: 25px">Інформація</h5>
<div class="container my-5">
    <div class="row p-4 pb-4 pe-lg-1 pt-lg-4 align-items-center rounded-3 border shadow-lg d-flex justify-content-evenly">
        <div class="col-md-6">
            <div id="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d81019.58455177007!2d26.244167400000002!3d50.61110145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472f6caa2d7c89d7%3A0x27481abdbc4e484!2sRivne%2C%20Rivne%20Oblast!5e0!3m2!1sen!2sua!4v1701021056623!5m2!1sen!2sua" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div id="text-container">
                <div class="address">
                    <h2 class="opi">Адреса</h2>
                    <p>Вул. Соборна, будинок 26, Рівне, 33003</p>
                </div>

                <div class="contact-numbers">
                    <h2 class="opi">Контакті номера</h2>
                    <p>
                        <img src="~/src/photos/centers/phone.png" alt="Телефон" style="width: 20px; margin-right: 10px;">
                        <a href="tel:+380987654321">380987654321</a>
                    </p>
                    <p>
                        <img src="~/src/photos/centers/phone.png" alt="Телефон" style="width: 20px; margin-right: 10px;">
                        <a href="tel:+380987654321">380987654321</a>
                    </p>
                </div>

                <div class="social-media">
                    <h2 class="opi">Ми в соціальних мережах</h2>
                    <div class="social-icons">
                        <a href="#" target="_blank"><img src="~/src/photos/centers/instagram.png" alt="Instagram"></a>
                        <a href="#" target="_blank"><img src="~/src/photos/centers/twitter.png" alt="Twiter"></a>
                        <a href="#" target="_blank"><img src="~/src/photos/centers/facebook.png" alt="Facebook"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>