@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-5" style="padding-top: 25px">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Дізнайтеся більше про те, як стати донором крові на нашому веб-сайті.</h1>
            <p class="lead">ров потрібна для операцій, травм, хвороб і інших медичних процедур. Донація крові допомагає забезпечити пацієнтів тією кров'ю, яка їм потрібна, щоб вижити.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a asp-area="" asp-controller="Home" asp-action="RecipientRegistration" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Я хочу допомогти</a>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
            <img class="rounded-lg-3" src="~/src/photos/blood.png" alt="" width="400">
        </div>
    </div>
</div>

<div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <h4 class="text-center">Зареєстрованих донорів в нашій системі</h4>
                <p class="text-center" style="font-size: 4rem; color: red;">18234</p>
            </div>
            <div class="col-md-4">
                <h4 class="text-center">Здійснено перевезень крові до фронту</h4>
                <p class="text-center" style="font-size: 4rem; color: red;">3000+</p>
            </div>
            <div class="col-md-4">
                <h4 class="text-center">Опрацювано запитів від пацієнтів з 2015 року</h4>
                <p class="text-center" style="font-size: 4rem; color: red;">18000+</p>
            </div>
        </div>
    </div>
</div>

<div class="connttt">
    <div class="acc-kontainer" style="padding-left: 10px;">
        <div>
            <input type="radio" name="acc" id="acc1" checked>
            <label for="acc1"> Зі скількох років можна бути донором?</label>
            <div class="acc-body">
                З 18 років. Верхньої вікової межі для донорства немає — все залежить від вашого самопочуття.
            </div>
        </div>
        <div>
            <input type="radio" name="acc" id="acc2">
            <label for="acc2"> Якою має бути мінімальна вага людини, щоб здати кров?</label>
            <div class="acc-body">
                50 кг. Але деякі центри крові мають власні внутрішні правила. Наприклад, Львівський обласний центр крові приймає донорів з вагою від 60 кг. Також медики звертають увагу не лише на вагу, а й на співвідношення зросту й маси.
            </div>
        </div>
        <div>
            <input type="radio" name="acc" id="acc3">
            <label for="acc3"> Коли потрібно починати підготовку до здачі крові?</label>
            <div class="acc-body">
                За 72 години до донації не вживайте ліки. За 48 годин до процедури відмовтеся від спиртних напоїв. За добу — дотримуйтеся дієти донора. Вона виключає молочні продукти, яйця, жирне м'ясо, фастфуд, напівфабрикати тощо. Основа цієї дієти — вуглеводи: каші, хліб, макарони, варена або печена картопля, фрукти та овочі, нежирні ласощі (печиво, солодкі сухарики).
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5">
        <div class="col-12 col-sm-8 col-lg-6">
            <img src="~/src/photos/news.svg" alt="Новини" class="d-block mx-lg-auto img-fluid" loading="lazy" width="450" height="450">
        </div>
        <div class="col-lg-6">
            <h1 class="display-3 fw-bold lh-1 mb-3">Новини</h1>
            <p class="lead">Останні новини у сфері донорства крові.</p>
        </div>
    </div>
</div>

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="carouselid" class="row align-items-center rounded-3 border shadow-lg" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row" style="margin-top: 15px">
                                <div class="col-md-4 mb-3">
                                    <div class="card h-100">
                                        <img class="img-fluid" alt="100%x280" src="~/src/photos/News/news1.png">
                                        <div class="card-body">
                                            <h4 class="card-title">Донорство це весело</h4>
                                            <p class="card-text">Отримуйте безліч бонусів за допомогу іншим людям!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card h-100">
                                        <img class="img-fluid" alt="100%x280" src="~/src/photos/News/news2.png">
                                        <div class="card-body">
                                            <h4 class="card-title">Дізнайся свою групу крові</h4>
                                            <p class="card-text">Безкоштовно проводимо аналіз групи крові. Запис на сайті</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card h-100">
                                        <img class="img-fluid" alt="100%x280" src="~/src/photos/News/news3.png">
                                        <div class="card-body">
                                            <h4 class="card-title">Рятуй життя з нами!</h4>
                                            <p class="card-text">Кожен день ми рятуємо 100 життів. Будь разом з нами</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card h-100">
                                        <img class="img-fluid" alt="100%x280" src="~/src/photos/News/news4.png">
                                        <div class="card-body">
                                            <h4 class="card-title">Твори добро!!!</h4>
                                            <p class="card-text">Встановлено новий рекорд відвідувачів за день..</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card h-100">
                                        <img class="img-fluid" alt="100%x280" src="~/src/photos/News/news5.png">
                                        <div class="card-body">
                                            <h4 class="card-title">Кожен раз!</h4>
                                            <p class="card-text">Кожен день ми б'ємо нові рекорди разом.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card h-100">
                                        <img class="img-fluid" alt="100%x280" src="~/src/photos/News/news6.png">
                                        <div class="card-body">
                                            <h4 class="card-title">Це молодіжно</h4>
                                            <p class="card-text">Робити багато добра додає смаку молодості.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


