.shape1 {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 10vh;
    left: 0vh;
    border-style: solid;
    border-width: 45vh 0 45vh 50vh;
    border-color: transparent transparent transparent #008374;
    opacity: 20%;
    z-index:-1;
}
.shape2 {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 10vh;
    left: 0vh;
    border-style: solid;
    border-width: 45vh 0 45vh 40vh;
    border-color: transparent transparent transparent #008374;
    opacity: 50%;
    z-index: -1;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vh;
    z-index: 100;
}
form {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
    padding: 20px;
    margin-top: -50px;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
button {
    background-color: #f85a40 !important;
    border-color: #F0583F !important;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}