@{
    Layout = "~/Views/Shared/_DonorLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
    <title>@ViewData["Title"] - UI</title>

    <link rel="stylesheet" type="text/css" href="~/css/donor/faq-style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/UI.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="content row mt-5">
        <div class="col-4 mt-5">
            <div id="list-titles" class="list-group position-fixed">
                <a class="list-group-item list-group-item-action" href="#donations">Донації</a>
                <a class="list-group-item list-group-item-action" href="#recipients">Рекомендовані реципієнти</a>
                <a class="list-group-item list-group-item-action" href="#blood-center">Улюблені центри крові</a>
                <a class="list-group-item list-group-item-action" href="#notification">Сповіщення</a>
                <a class="list-group-item list-group-item-action" href="#postal-services">Поштові сервіси</a>

    </div>
        </div>
        <div class="col-8">
            <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                <h1>Стань <span class="selectedText">досвідченим</span> користувачем нашої системи</h1>
                <h5 class="fw-normal">На цій сторінці дізнайся, як працює ДонорUA.</h5>
                <h5 class="fw-bold" id="donations">Донації</h5>
                <h6 class="fw-normal">Ти можеш запланувати донацію для <span class="fst-italic">центра крові</span> або для <span class="fst-italic">рекомендованого реципієнта.</span></h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ЯК БУЛО</th>
                            <th scope="col">ЯК СТАЛО</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fw-normal">При плануванні донації реципієнти і центри крові були пов'язані.</td>
                            <td class="fw-normal">Планування донації для реципієнта та центру крові не пов'язані. Для того, щоб реципієнт відображався в історії донацій, необхідно заздалегідь запланувати донацію саме для цього реципієнта. Якщо ти не запланував донацію для конкретного реципієнта і він зник зі списку активних реципієнтів, то асоціювати реципієнта з донацією буде не можливо.</td>
                        </tr>
                    </tbody>
                </table>
                <p class="fw-normal">Ти можеш запланувати донацію для центру крові на період 90 днів, а для реципієнта - на період 7 днів від чинної дати.</p>
                <p class="fw-normal">Статуси донацій:</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">СТАТУС</th>
                            <th scope="col">ОПИС</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fw-normal">Заплановано</td>
                            <td class="fw-normal">Донація додана (запланована) на дату у майбутньому.</td>
                        </tr>
                         <tr>
                            <td class="fw-normal">Додано</td>
                            <td class="fw-normal">Донація додана на дату, що минула. Для запланованих донацій статус змінюється автоматично після того, як пройшла дата донації. Донація вважається такою, що відбулась.</td>
                        </tr>
                        <tr>
                            <td class="fw-normal">Підтверджено</td>
                            <td class="fw-normal">Донація підтверджена адміністратором.</td>
                        </tr>
                        <tr>
                            <td class="fw-normal">Відхилено</td>
                            <td class="fw-normal">Донація відхилена адміністратором.</td>
                        </tr>
                    </tbody>
                </table>
                <p class="fw-normal">Якщо донація не відбулась з тих чи інших причин, її потрібно видалити.</p>
                <p class="fw-normal">Донація автоматично потрапляє у список на підтвердження посля того, як статус змінився на "Додано" та якщо донор прикріпив довідку.</p>
                <h5 class="fw-bold" id="recipients">Рекомендовані реципієнти</h5>
                <p class="fw-normal">На сайті одночасно може знаходитись кілька десятків реципієнтів, яким ми допомагаємо знайти донорів крові. По суто формальним параметрам на одного донора могло припадати до 20 реципієнтів. Тому з метою більш точного підбору ми пропонуємо концепцію "рекомендованих" реципієнтів, які повністю відповідають як фізіологічним параметрам донора, так і вподобань щодо центрів крові для донацій.</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ЯК БУЛО</th>
                            <th scope="col">ЯК СТАЛО</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fw-normal">Група крові та резус фактор збігається з даними донора АБО група крові не є важливою. Також збігається місто і типи донації, які здає донор.</td>
                            <td class="fw-normal">Як було + ми відображаємо лише реципієнтів, що відносяться до центрів крові, які донор позначив як улюблені. У випадку, якщо донор не додав жоден центр крові до улюблених, то список формується як і раніше.</td>
                        </tr>
                    </tbody>
                </table>
                <h5 class="fw-bold" id="blood-center">Улюблені центри крові</h5>
                <p class="fw-normal">Для того, щоб система надсилала персоналізовані повідомлення, ти маєш заповнити наступну інформацію:</p>
                <ul class="fw-normal">
                    <li>групу крові</li>
                    <li>типи донації</li>
                    <li>місто</li>
                    <li>улюблені центри крові</li>
                </ul>
                <p class="fw-normal">Інша інформація має значення, але саме ця інформацію є ключовою.</p>
                <p class="fw-normal">Група крові, типи донації та місто може заповнити на сторінці <span class="selectedText">Налаштування</span>, а улюблені центри крові - на сторінці <span class="selectedText">Де здати кров</span>. Щоб додати центр крові до улюблених - натисни на зірочку, яка стане зафарбованою. Після цього, улюблені центри крові разом з актуальною інформацією про запаси з'являться на головній сторінці.</p>
                <p class="fw-normal">Коли ти обереш улюблені центри крові, то будеш отримувати сповіщення лише тоді, коли в них буде критичний запас крові, або коли реципієнтам з цих центрів буде потрібна саме твоя група крові.</p>
                <p class="fw-normal">Якщо ти не обереш групу крові, то сповіщення будуть приходити про всі заклади і реципієнтів твого міста.</p>
                <p class="fw-normal">Якщо ані центри крові, ані місто не будуть обрані, то ти не будеш отримувати повідомлення навіть якщо вони дозволені і налаштовані.</p>
                <h5 class="fw-bold" id="notification">Сповіщення</h5>
                <p class="fw-normal">Сповіщення про те, що твоя кров необхідна, є чи не найважливішим елементом нашої системи. З однієї сторони їх не повинно бути багато, з іншої - ми прагнемо вчасно закривати усі запити.</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ЯК БУЛО</th>
                            <th scope="col">ЯК СТАЛО</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fw-normal">Канали нотифікації</td>
                            <td class="fw-normal">Електрона пошта, Telegram, Viber.</td>
                            <td class="fw-normal">Електронна пошта, Telegram.</td>
                        </tr>
                         <tr>
                            <td class="fw-normal">Налаштування</td>
                            <td class="fw-normal">Донору потрібно додати чатбот, ввести команду /getchatid, отримане значення зберегти у персональному кабінеті.</td>
                            <td class="fw-normal">Донору потрібно перейти з персонального кабінету за посиланням (на сторінці Налаштування у секції Сповіщення) і натиснути кнопку Почати (Start).</td>
                        </tr>
                    </tbody>
                </table>
                <p class="fw-normal">Алгоритм налаштування нотифікацій у Telegram:</p>
                <ol>
                    <li>Якщо ти - бета тестер, то з мето тестування можеш прибрати Telegram у налаштуваннях і пройти налаштування ще раз. Після закінчення тестування і додаткового повідомлення від нас потрібно буде пройти налаштування ще раз.</li>
                    <li>Якщо у тебе вже підключений чатбот, нічого робити не потрібно.</li>
                    <li>Якщо у тебе не підключений чатбот, пройди за посиланням, що вказане у персональному кабінеті на сторінці Налаштування у секції Сповіщення, і активуй чатбот. Після того, як натиснеш кнопку Почати (Start), маєш отримати повідомлення "Це тестове повідомлення! Якщо ви його бачите, то все налаштовано 😃".</li>
                </ol>
                <p class="fw-normal">Ми прагнемо зменшити навантаження на електронну пошту, тому пропонуємо перейти на Telegram.</p>
                <h5 class="fw-bold" id="postal-services">Поштові сервіси</h5>
                <p class="fw-normal">Відповідно до <span class="selectedText">Указу Президента України №133/2017 </span>"Про рішення Ради національної безпеки і оборони України від 28 квітня 2017 року "Про застосування персональних спеціальних економічних та інших обмежувальних заходів (санкцій)", обмежувальні санкції передбачають заборону Інтернет-провайдерам надання послуг з доступу користувачам мережі Інтернет до ресурсів сервісів "Mail.ru", "Вконтакте", "Одноклассники", санкції також введені проти ТОВ "Яндекс", російських компаній розробників-антивірусів "Лабораторія Касперського" і "Доктор Веб".</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ВОРОЖІ СЕРВІСИ</th>
                            <th scope="col">АЛЬТЕРНАТИВИ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fw-normal">yandex.ru (Яндекс), ya.ru (Яндекс), yandex.ua (Яндекс), rambler.ru (Rambler), mail.ru (Mail.Ru), inbox.ru (Mail.Ru), FreeMail.ru, Narod.ru, newmail.ru, hotmail.ru (Новая почта), Mail2000.ru, Zmail.ru, Письмо.РФ, Mail2k.ru, Yomail.ru та інші у зонах *.ru та *.рф.</td>
                            <td class="fw-normal">ukr.net (Україна), meta.ua (Україна), gmail.com (Google), outlook.com (Microsoft), icloud.com (Apple).</td>
                        </tr>
                    </tbody>
                </table>
                <p class="fw-normal">Найближчим часом ми плануємо обмежити реєстрацію нових акаунтів для російських поштових скриньок.</p>
                <p class="fw-normal">Змінити поштову скриньку на нову ви можете на сторінці Налаштування.</p>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>