@{
    Layout = "~/Views/Shared/_DonorLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
    <title>@ViewData["Title"] - UI</title>

    <link rel="stylesheet" type="text/css" href="~/css/donor/where-donate-style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/UI.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="content">
        <div class="d-flex w-100">
            <div class="col">
                <h2 class="fw-bold">Рівненський обласний центр служби крові</h2>
                <h6>Рівне, вул. С. Бандери, 31</h6>
                <div class="card">
                    <div class="card-body row">
                        <div class="col border-end">
                            <h5 class="fw-bold">Понеділок</h5>
                            <h4 class="fw-light">08:00-12:30</h4>
                        </div>
                        <div class="col border-end">
                            <h5 class="fw-bold">Вівторок</h5>
                            <h4 class="fw-light">08:00-12:30</h4>
                        </div>
                        <div class="col border-end">
                            <h5 class="fw-bold">Середа</h5>
                            <h4 class="fw-light">08:00-12:30</h4>
                        </div>
                        <div class="col border-end">
                            <h5 class="fw-bold">Четвер</h5>
                            <h4 class="fw-light">08:00-12:30</h4>
                        </div>
                        <div class="col border-end">
                            <h5 class="fw-bold">П'ятниця</h5>
                            <h4 class="fw-light">08:00-12:30</h4>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Контакти</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text-title m-0">ПРИЙМАЛЬНЯ</p>
                                <p class="card-text-phone"><i class="fa-solid fa-mobile"></i>  +38 (0362) 63-68-89</p>

                                <p class="card-text-title m-0">ВІДДІЛ КОМПЛЕКТУВАННЯ ДОНОРСЬКИХ КАДРІВ</p>
                                <p class="card-text-phone"><i class="fa-solid fa-mobile"></i>  +38 (0362) 63-68-90</p>
                                <p class="card-text-phone"><i class="fa-solid fa-mobile"></i>  +38 (067) 363-41-44</p>

                                <p class="card-text-title m-0">ЕКСПЕДИЦІЯ (ЦІЛОДОБОВО)</p>
                                <p class="card-text-phone"><i class="fa-solid fa-mobile"></i>  +38 (0362) 63-68-68</p>

                                <p class="card-text-title m-0">РЕЄСТРАТУРА</p>
                                <p class="card-text-phone"><i class="fa-solid fa-mobile"></i>  +38 (067) 363-41-44</p>
                            </div>
                        </div>
                        <div class="card mt-3">
                            <div class="card-header">
                                <h5 class="card-title">Центр приймає</h5>
                            </div>
                            <div class="card-body row">
                                <div class="col">
                                    <p class="card-text"><i class="fa-solid fa-droplet"></i>  Цільна кров</p>
                                </div>
                                <div class="col">
                                    <p class="card-text"><i class="fa-solid fa-droplet"></i> Тромбоцити</p>
                                </div>
                                <div class="col">
                                     <p class="card-text"><i class="fa-solid fa-droplet"></i>  Плазма</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mt-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Контакти</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Комунальне некомерційне підприємство Рівненський обласний центр служби крові Рівненської обласної ради заготовляє цільну кров, плазму і тромбоцитну масу.</p>
                                <p class="card-text">Приймає донорів з будь-яким місцем реєстрації.</p>
                                <p class="card-text">Для кроводачі донорам потрібно мати з собою паспорт та ідентифікаційний код (якщо це ID-картка - то довідку про місце реєстрації).</p>
                                <p class="card-text">Обмеження по вазі донора - 50 кг.</p>
                                <p class="card-text">Для здачі тромбоцитної маси центр крові приймає чоловіків та жінок.</p>
                                <p class="card-text">Центр приймає донорів також кожної першої і третьої суботи місяця.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>