@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/donor/layout-style.css" asp-append-version="true" />

    <script src="https://kit.fontawesome.com/2f492529ea.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar" id="navbar">
        <div class="nav-links">
            <ul>
                <li class="d-flex justify-content-center align-items-center">
                    <div class="dropdown">
                        <div class="container">

                            <img src="/src/photos/default-avatar.png" class="rounded-circle" height="40">
                        </div>
                        <ul class="dropdown-menu" style="right: 0; left: auto; width: 300px; " aria-labelledby="dropdownMenuButton1">
                            <li>
                                <div class="card border-0">
                                    <div class="row g-0">
                                        <div class="col-3">
                                            <a class="btn btn-circle">
                                                <img src="/src/photos/default-avatar.png" class="img-fluid" height="40" width="40" alt="Avatar">
                                            </a>
                                        </div>
                                        <div class="col-9">
                                            <div class="card-body">
                                                <p class="card-text">@User.FindFirstValue(ClaimTypes.Email)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Мій профіль</a></li>
                            <li><a class="dropdown-item" href="#">Налаштування</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form asp-controller="Donor" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button class="dropdown-item" type="submit"> Вийти </button>
                                </form>
                            </li>

                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="sidebar close" id="sidebar">
        <header>
            <div class="image-text">
                <a href="https://localhost:7187/" target="_top" class="logo d-flex align-items-center justify-content-center">
                    <img src="~/src/logo/logo-no-background.svg" alt="лого">
                </a>
            </div>

            <i class="fa-solid fa-chevron-right toggle"></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-house icon"></i>
                            <span class="text nav-text">Головна</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-house-chimney-medical icon"></i>
                            <span class="text nav-text">Де здати кров</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-droplet icon"></i>
                            <span class="text nav-text">Донації</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-user-group icon"></i>
                            <span class="text nav-text">Реципієнти</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-question icon"></i>
                            <span class="text nav-text">Довідка</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="home">
        <main role="main" class="">
            @RenderBody()
        </main>
    </section>

    <script src="~/js/donor/layout.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>
