<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UI.styles.css" asp-append-version="true" />
</head>
<body>
    <header id="header" class="header d-flex align-items-center">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="" class="logo d-flex align-items-center">
                <img src="~/src/logo/logo-no-background.svg" alt="лого" class="w-650 h-650">
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Centers">Де здати кров</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Request">Потрібні донори?</a>
                    </li>
                    @if (User.IsInRole("Donor"))
                    {
                        <li>
                            <a asp-area="" asp-controller="Donor" asp-action="HomePage">Кабінет донора</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-area="" asp-controller="Donor" asp-action="Login">Кабінет донора</a>
                        </li>
                    }
                </ul>
                @*<partial name="_LoginPartial" />*@
            </nav>

           @* <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>*@
        </div>
    </header>

    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
